export(rtAgeing)
export(rtDDTest)
export(rtDensityDependence)
export(rtLarvalDeposition)
export(rtMortality)
export(rtPhase1Test)
export(rtPlotAgeStructure)
export(rtPlotMeanAge)
export(rtPlotPop)
export(rtPlotPopAndPupae)
export(rtPupalAgeing)
export(rtPupalEmergence)
export(rtPupalMortality)
export(rtSetDepositionRatesByAge)
export(rtSetMortRatesByAge)
