export(rtAgeing)
export(rtAgeingGrid)
export(rtDDRogers)
export(rtDDRogersTest)
export(rtDDTest)
export(rtDensityDependence)
export(rtLarvalDeposition)
export(rtMortality)
export(rtMortalityGrid)
export(rtMove1)
export(rtPhase1Test)
export(rtPhase1Test2)
export(rtPhase2Test)
export(rtPhase2Test2)
export(rtPlotAgeStructure)
export(rtPlotMeanAge)
export(rtPlotPop)
export(rtPlotPopAndPupae)
export(rtPlotPopGrid)
export(rtPupalAgeing)
export(rtPupalEmergence)
export(rtPupalMortality)
export(rtPupalMortalityDD2)
export(rtPupalMortalityRogers)
export(rtSetDepositionRatesByAge)
export(rtSetMortRatesByAge)
import(ggplot2)
import(raster)
import(sp)
importFrom(dplyr,"%>%")
importFrom(dplyr,group_by)
importFrom(dplyr,summarise)
